html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  overflow-y: scroll;
}

a {
  color: #49829e;
  text-decoration: none;
}
a:hover {
  color: #2d5d75;
  text-decoration: underline;
}
